$light-primary-palette: (
  50: #ede0e0,
  100: #d1b3b3,
  200: #b38080,
  300: #944d4d,
  400: #7d2626,
  500: #660000,
  600: #5e0000,
  700: #530000,
  800: #490000,
  900: #380000,
  A100: #ff6e6e,
  A200: #ff3b3b,
  A400: #ff0808,
  A700: #ee0000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$light-accent-palette: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  a100: #b9f6ca,
  a200: #69f0ae,
  a400: #00e676,
  a700: #00c853,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-primary-palette: (
  50: #f6faf5,
  100: #e9f3e5,
  200: #dbebd4,
  300: #cce3c2,
  400: #c1ddb5,
  500: #b6d7a8,
  600: #afd3a0,
  700: #a6cd97,
  800: #9ec78d,
  900: #8ebe7d,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e7ffde,
  A700: #d4ffc4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$dark-accent-palette: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  a100: #b9f6ca,
  a200: #69f0ae,
  a400: #00e676,
  a700: #00c853,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
