@if (model$ | async; as model) {
<footer class="p-1">
  <p class="pl-1">
    @if (!model.user.isAuthenticated) {
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="flex items-start">
      <input type="text" class="h-12 p-3" formControlName="userName" placeholder="Type email address" value="" [cdkTrapFocusAutoCapture]="true" [cdkTrapFocus]="true" enterkeyhint="done">
      <button mat-flat-button color="primary" class="ml-2">Log in</button>
    </div>
  </form>
  }
  </p>
  <p class="pt-3 pl-1">
    Version {{model.appInfo.versionNumber}}
  </p>
  @if (model.user.isAuthenticated) {
  <p class="pl-1">
    Logged in as {{model.user.userName}}<button mat-button class="m-2 p-1" (click)="logout()">Log out</button>
  </p>
  }
</footer>
}