<form [formGroup]="listForm" (ngSubmit)="onSubmit()">
  <div class="flex items-start">
    <mat-icon class="ml-2 mt-3 mr-2">add</mat-icon>
    <input type="text" class="w-full h-12 p-3 bg-transparent border-none" formControlName="newItem" placeholder="Add an item" value="" [cdkTrapFocusAutoCapture]="true" [cdkTrapFocus]="true" enterkeyhint="done">
  </div>
</form>

@if (userListItems()) {
@for (listItem of userListItems(); track listItem.description) {
<p>
  <mat-checkbox [checked]="listItem.isComplete" (change)="onCheckboxChange($event, listItem)" [ngClass]="{ 'line-through': listItem.isComplete }">
    {{ listItem.description }}
  </mat-checkbox>
</p>
}
} @else {
<div class="flex justify-center items-center w-[20rem] h-[10rem]">
  <mat-spinner diameter="20"></mat-spinner>
</div>
}