<p>Hello, {{currentUser().userDetails}}!</p>

<form [formGroup]="listForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <input matInput formControlName="newItem" placeholder="Add an item" value="" [cdkTrapFocusAutoCapture]="true" [cdkTrapFocus]="true">
  </mat-form-field>
</form>

@if (userListItems()) {
@for (listItem of userListItems(); track listItem.description) {
<p>
  <mat-checkbox [checked]="listItem.isComplete" (change)="onCheckboxChange($event, listItem)" [ngClass]="{ 'line-through': listItem.isComplete }">
    {{ listItem.description }}
  </mat-checkbox>
</p>
}
} @else {
<mat-spinner diameter="20"></mat-spinner>
}