<form [formGroup]="listForm" (ngSubmit)="onSubmit()">
  <div class="flex items-start">
    <mat-icon class="ml-2 mt-3 mr-2 mb-5">add</mat-icon>
    <input type="text" class="w-full h-12 p-3 bg-transparent border-none" formControlName="newItem" placeholder="Add an item" value="" [cdkTrapFocusAutoCapture]="true" [cdkTrapFocus]="true" enterkeyhint="done">
  </div>
</form>

@if (userListItems()) {
@for (listItem of userListItems(); track listItem.description) {
<div class="flex items-start hover:bg-neutral-100 dark:hover:bg-neutral-700 focus-within:bg-neutral-100 dark:focus-within:bg-neutral-700">
  <mat-checkbox class="mt-1" [checked]="listItem.isComplete" (change)="onCheckboxChange($event, listItem)" [ngClass]="{ 'line-through': listItem.isComplete }" />
  <input type="text" class="grow h-12 p-3 mr-1 bg-transparent border-none " [value]="listItem.description" enterkeyhint="done">

  <button mat-icon-button (click)="saveListItem(listItem)" class="invisible " aria-label="Update this item">
    <mat-icon>done</mat-icon>
  </button>
  <button mat-icon-button (click)="deleteListItem(listItem)" class="invisible " aria-label="Delete this item">
    <mat-icon>delete</mat-icon>
  </button>
</div>
}
} @else {
<div class="flex justify-center items-center w-[20rem] h-[10rem]">
  <mat-spinner diameter="20"></mat-spinner>
</div>
}